<div class="mini-header bg-white">
    <div class="help-line">
        <span class="hidden md:inline-block">Need Help? Call us</span><span class="flex items-center"><ng-icon name="heroPhone"></ng-icon>112233344455</span>
    </div>
    <div class="discount-notification">
        <marquee behavior="scroll" direction="left"><span><span class="">Summer sale discount</span> <span> 60% off!</span> <a href=""> Shop Now</a></span></marquee>
    </div>
    <div class="delivery-policy">
        <span>2-3 days delivery & free returns</span>
    </div>
</div>
<div class="menubar flex justify-between items-center px-2 ">
    <div class="logo">
        <span class="">SHOP</span><span>LITE</span>
    </div>
    <div class="menu-wrapper">
        <div class="menus hidden md:flex justify-between">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Shop</a>
            <a href="">Bloges</a>
            <a href="">Pages</a>
            <a href="">Contact</a>
        </div>
        <div class="menus-for-mobile md:hidden">
            <ng-icon name="heroBars3"></ng-icon>
        </div>
    </div> 
    <div class="icons">
        <ng-icon name="heroMagnifyingGlass"></ng-icon>
        <ng-icon name="heroUser"></ng-icon>
        <ng-icon name="heroHeart"></ng-icon>
        <ng-icon name="heroShoppingCart"></ng-icon>
    </div>
</div>